.borders {
    border: #000000 1px solid; /* A very subtle grey colored border in the header. */
    padding: 30px 50px 10px 50px;
}

.centralized {
  text-align: center;
}

.right-align {
  text-align: right;
}

img {
  width: 100%;
  height: auto;
}

.button_1{
    background: #ffffff;
    border: #ffffff 2px solid;
    padding: 5px 10px;
    color: #000000;
    font-family: 'Roboto Mono';
    font-size: 18px;
}

.button_1:hover {
    border: white 2px solid;
	   cursor: pointer;
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 70px;
    border-bottom: #000000 3px solid;
}

footer{
    padding: 5px;
    margin-top: 0px;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    height: 35px;
}

header a{
    font-family: 'Roboto Mono';
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16pt;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: auto;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #808080; /* #35424a */
    font-weight: bold;
}

header ul a:hover{ /* When you pass the mouse over the nav the text will change its colors. */
    color: #cccccc;
    font-weight: bold;
}

header div a:hover { /* When you pass the mouse over the nav the text will change its colors. */
text-decoration: none;
color: inherit;
}

h1 {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 28pt;
}

h2 {
  font-family: 'Roboto Mono';
  font-weight: normal;
  font-size: 20pt;
}

h3 {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 14pt;
  margin: auto inherit;
  display: inline;
}

h4 {
  font-family: 'Merriweather';
  font-weight: bold;
  font-size: 20pt;
}

h5 {
  font-family: 'Roboto Mono';
  font-weight: normal;
  font-size: 18pt;
}

h6 {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 14pt;
  padding: 15px 0px;
}


p {
  font-family: 'Merriweather';
  font-weight: normal;
  font-size: 14pt;
}

.zebra-odd	 {
    background: #d6d6d6;
}
.zebra-even	 {
	background: #e6e6e6;
}

#newsletter {
  background: #000000;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}
